<ion-view title="Lista de escuelas" class="BckGr" cache-view="false">

<!--Lista de deportes-->

	<div class="bar bar-header bar-positive" class="colorCab">
		<button class="button button-clear icon ion-navicon"></button>
		
	</div>
	<!--div><img class="playaList" src="img/gradient.jpg"/></div-->
	<ion-content padding="true" class="mrglist">
	<div class="list" id="listSel">
			<a class="item item-divider item-icon-right" id="itemDevlst"  ng-click="turnList()" class="dividList">
				<div> {{textoListhid}}</div>
				 <i class="icon ion-arrow-down-b" ></i>		
			</a>
			<div style="display:{{listhid}}; " id="listalt" class="transListdep">
				<ion-item class="item listSport" ng-click="selDep(2, 'clU')" ng-class="{{clU}}"><!--img src="img/windbl.png " class="sizeIMG"/-->{{'WINDSURF' | translate}}</ion-item >
				<ion-item class="item listSport" ng-click="selDep(3, 'clD')" ng-class="{{clD}}"><!--img src="img/kitebl.png" class="sizeIMG"/-->{{'KITESURFT' | translate}}</ion-item >
				<ion-item class="item listSport"ng-click="selDep(5, 'clT')" ng-class="{{clT}}"><!--img src="img/sup.png" class="sizeIMG"/-->{{'PADDLESURF' | translate}}</ion-item >
				<ion-item  class="item listSport" ng-click="selDep(7, 'clC')" ng-class="{{clC}}"><!--img src="img/surf.png" class="sizeIMG"/-->{{'SURF' | translate}}</ion-item >
				<ion-item  class="item listSport" ng-click="selDep(11, 'clC')" ng-class="{{clC}}"><!--img src="img/surf.png" class="sizeIMG"/-->{{'KAYAK' | translate}}</ion-item >
				<ion-item  class="item listSport" ng-click="selDep(13, 'clC')" ng-class="{{clC}}"><!--img src="img/surf.png" class="sizeIMG"/-->{{'NAV' | translate}}</ion-item >
				<ion-item  class="item listSport" ng-click="selDep(17, 'clC')" ng-class="{{clC}}"><!--img src="img/surf.png" class="sizeIMG"/-->{{'SUBM' | translate}}</ion-item >
				<ion-item  class="item listSport" ng-click="selDep(19, 'clC')" ng-class="{{clC}}"><!--img src="img/surf.png" class="sizeIMG"/-->{{'PESCA' | translate}}</ion-item >
			</div>					
		</div>
<!--Lista de escuelas-->

		<div class="list" style="display:{{listotal}};z-index:1; margin-top: 10%;">
			<ion-item  class="item item-thumbnail-left listWrapper" ng-repeat="escuela in escuelas" ng-click="descList($index)" style="{{desinfoque}};">
				<img src="{{escuela.imagen}}"/>
				<h2>{{escuela.nombre}}</h2>
				<p>{{escuela.direccion}}</p>			
				<p>{{escuela.estrellas}}</p>
				<i class="ion-trophy" style="color:{{escuela.colorMedalla}}"></i>				
			</ion-item >
		</div>				
	</ion-content>
</ion-view>