<ion-view title="Mapa"> <!--cache-view="false"-->
		<!--div class="bar bar-header bar-positive">
			<div class="row">
				<button class="button button-icon icon ion-chevron-down" ng-click="cerrarLable()" id="butAbrCerlable" style="display:none"></button>
			</div>
		</div-->
		<div class="bar bar-subheader" id="butMV" style="display:none">
			<div  id="labalewrapper"> <!--style="display:none"-->
			<div id="idCntTRAZrut">
				<div class="row" >
					<button class="button button-clear ion-android-bicycle" ng-click="modoViaje('BICYCLING', 'coloButmodV1')" id="coloButmodV1"></button>
					<button class="button button-clear ion-model-s" ng-click="modoViaje('DRIVING', 'coloButmodV2')" id="coloButmodV2"></button>
					<button class="button button-clear ion-android-bus" ng-click="modoViaje('TRANSIT', 'coloButmodV3')" id="coloButmodV3"></button>
					<button class="button button-clear ion-android-walk" ng-click="modoViaje('WALKING', 'coloButmodV4')" id="coloButmodV4"></button>
					
				</div>
				<div class="row">
					<div class="col col-80">
						<label class="item item-input ">
							<input type="text" placeholder="Vía, numero, piso, localidad" ng-model="direccion">
							
						</label>
					</div>
					<div class="col">
						<button class="button button-clear ion-ios-search-strong" ng-click="mandarinfo('location')" id="butOk"></button>
					</div>
					<!--div class="col">
						<button class="button button-clear ion-ios-location" ng-click="mandarinfo('miPosicion')" id="butOk"></button>
					</div-->
				</div>
			</div>	
			</div>
			<div class="row" id="butSubirlable" ng-show="butlable">
				<button class="button button-icon icon {{iconoLable}}" ng-click="cerrarLable()" id="butAbrCerlable" ></button>
			</div>
		</div>
		<div class="bar bar-subheader" id="butM" style="display:none">
			<div class="row" style="margin-left: 85%;">
				<button class="button button-icon " ng-click="cerrarAprop()">
					<i class="icon-right ion-close-round"></i>
				</button>
			</div>
			<div class="row">
					<div class="col col-80">
						<label class="item item-input ">
							<input type="text" placeholder="Vía, numero, piso, localidad" ng-model="direccion">
							
						</label>
					</div>
					<div class="col">
						<button class="button button-clear ion-ios-search-strong" ng-click="cercaDir()" id="butOk"></button>
					</div>
					<!--div class="col">
						<button class="button button-clear ion-ios-location" ng-click="centerOnMe()" id="butOk"></button>
					</div-->
			</div>
		</div>
		<!-- The map content-->
		<ion-content>			
			    <div id="map" data-tap-disabled="true"></div>		
		</ion-content>
		<!-- The map content-->
		
		<!-- The footerbar content-->
		<div class="bar bar-footer bar-positive">
			<!--button class="button button-clear ion-happy-outline"></button-->
			<!--<div class="title">Peu de pàgina</div>-->
			<button class="button button-large button-clear ion-funnel" ng-click="verLista()"> <!--ng-click="mandDatos(0)"-->Deportes</button>
			<button class="button button-large button-clear ion-person" ng-click="buscarCerca()"> Cerca de mí</button>
		</div>
		<!-- The footerbar content-->
		<!--The list of sports-->
		<div class="list mapList" style="display:{{listhid}}; ">
			<div  class="mapListDentro" >
				<ion-item class="item mapSport" ng-click="selDep(2)" ng-class="{{clU}}"><!--img src="img/windbl.png " class="sizeIMG"/-->Windsurf</ion-item >
				<ion-item class="item mapSport" ng-click="selDep(3)" ng-class="{{clD}}"><!--img src="img/kitebl.png" class="sizeIMG"/-->Kitesurf</ion-item >
				<ion-item class="item mapSport"ng-click="selDep(5)" ng-class="{{clT}}"><!--img src="img/sup.png" class="sizeIMG"/-->SUP</ion-item >
				<ion-item  class="item mapSport" ng-click="selDep(7)" ng-class="{{clC}}"><!--img src="img/surf.png" class="sizeIMG"/-->Surf</ion-item >
				<ion-item  class="item mapSport" ng-click="selDep(11)" ng-class="{{clC}}"><!--img src="img/surf.png" class="sizeIMG"/-->Kayak</ion-item >
				<ion-item  class="item mapSport" ng-click="selDep(13)" ng-class="{{clC}}"><!--img src="img/surf.png" class="sizeIMG"/-->Navegación</ion-item >
				<ion-item  class="item mapSport" ng-click="selDep(17)" ng-class="{{clC}}"><!--img src="img/surf.png" class="sizeIMG"/-->Submarinismo</ion-item >
				<ion-item  class="item listSport" ng-click="selDep(19, 'clC')" ng-class="{{clC}}"><!--img src="img/surf.png" class="sizeIMG"/-->Pesca</ion-item >
			</div>	
		<!--The list of sports-->
		</div>

</ion-view>