<ion-view title="Welcome Page" id="imgCont" style="background-color:#FBFFFC">
		
		<!--div class="bar bar-header bar-balanced" style="background-color: rgba(0,0,0,0); border-bottom-color:rgba(0,0,0,0); ">
			<button class="button button-icon icon ion-navicon" style="color:black"></button>
			<h1 class="title" style="color:black">Nom pàgina</h1>
			<button class="button button-clear" style="color:black">Edit</button>
		</div-->
		<ion-content padding="false">
			
			
		<div class="marginRow">
		
			<img class="imgMain" src="img/tablas.jpg" style="margin-top: 5%;;" id="PBimg">
			<!--img class="imgMain" src="img/iconPB.png" style="margin-top: -91%;position: absolute; margin-left: 47%;height: 69px; width: 85px;color:#24959C"-->
			<!--p style="position: absolute;margin-top: -85%;margin-left: 3%;font-size: 275%;font-family: sans serif;color: #24959C;">Aigua Esport</p-->
		
					  <button class="button button-block button-stable iconoMain" ng-click="goMap()"> 
							<div class="row">
								<div class="col col-90" style="line-height: 1.7em;white-space:normal;">					
									<p style="padding-top: 8px;">{{'MAPA' | translate}}</p>
								</div>
								<div class="col">
									<i class=" ion-location"></i>
								</div>
							</div>
					  </button>
					  
					
						<button class="button button-block button-stable iconoMain" ng-click="goList()"> 
							<div class="row">
								<div class="col col-90" style="line-height: 1.7em;white-space:normal;">
									<p style="padding-top: 8px;">{{'LISTA' | translate}}</p>
								</div>
							
								<div class="col">
									<i class="ion-ios-list-outline"></i>
								</div>
							</div>
						</button>
				

						<button class="button button-block button-stable iconoMain" ng-click="goPreferidas()">
							<div class="row">
								<div class="col col-90" style="line-height: 1.7em;white-space:normal;">
									<p style="padding-top: 8px;">{{'ESCUELASFAV' | translate}}<p>
								</div>
								<div class="col">
									<i class="ion-ios-star"></i>
								</div>
							</div>	
						</button>	
			
					  <button class="button button-block button-stable iconoMain" ng-click="goEventos()"> 
							<div class="row">
								<div class="col col-90" style="line-height: 1.7em;white-space:normal;">
									<p style="padding-top: 8px;">{{'EVENTOS' | translate}}</p>
								</div>
								<div class="col">
									<i class="ion-ios-calendar-outline"></i>
								</div>
				  
					  </button>
					
								
		</div>
	</div>
		</ion-content>	
</ion-view>
